<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&family=Itim&family=Poppins:wght@300&family=Source+Sans+Pro&display=swap" rel="stylesheet">
        <link  rel="stylesheet" href="assets/css/all.min.css">
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
        <link rel="stylesheet" href="assets/css/style En.css">
        <title> HIKVISION PRODUCTS </title>
    </head>
    <body>

         <!--/////////////////////////// start nav bar ////////////////////////////////////-->
         <nav class="navbar navbar-expand-lg">
            <div class="container p-0">
                <a class="navbar-brand" href="homepage.html">
                    <img src="assets/img/logo.png" alt="xtrade logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                      <i class="fa-solid fa-bars-staggered"></i>
                    </span>
                </button>
                <!-- menu -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="homepage.html">Home</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="aboutus.html">about us</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="camera.html" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                  camera
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                  <li><a class="dropdown-item" href="unv.html">
                                    <span class="text-uppercase">unv</span> product</a>
                                  </li>
                                  <li><a class="dropdown-item" href="HIKVISION PRODUCTS.html">HIKVISION PRODUCTS</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                 <a class="nav-link dropdown-toggle" href="beinsport.html" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    beIN sport
                                 </a>
                                 <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                   <li><a class="dropdown-item" href="#">Action</a></li>
                                   <li><a class="dropdown-item" href="#">Another action</a></li>
                                  </ul>
                            </li>
                            <li class="nav-item">
                                  <a class="nav-link" href="solution.html">solution</a>
                            </li>
                            <li class="nav-item">
                                  <a class="nav-link" href="contactus.blade.php">contact us</a>
                            </li>
                      </ul>
                       <!-- cart  (mobile)-->
                      <div class="d-flex align-items-center cart-mobile">
                        <div class="cart-btn">
                          <a href="cart.html" >
                            <i class="fa-solid fa-cart-shopping"></i>
                            cart
                            <span>04</span>
                          </a>
                        </div>
                        <div class="nav-border"></div>
                        <div class=" dropdown">
                          <a class=" dropdown-toggle lang-btn" href="camera.html" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="lang-icon">
                              <i class="fa-solid fa-globe"></i>
                            </span>
                            ar
                          </a>
                          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">ar</a></li>
                            <li><a class="dropdown-item" href="#">en</a></li>
                          </ul>
                        </div>
                      </div>
                </div>
                <!-- cart (pc)-->
                <div class="d-flex align-items-center cart-phone">
                  <div class="cart-btn">
                    <a href="cart.html">
                      <i class="fa-solid fa-cart-shopping"></i>
                       cart
                       <span>04</span>
                    </a>
                  </div>
                  <div class="nav-border"></div>
                  <div class=" dropdown">
                    <a class=" dropdown-toggle lang-btn" href="camera.html" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <span class="lang-icon">
                        <i class="fa-solid fa-globe"></i>
                      </span>
                      ar
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#">ar</a></li>
                      <li><a class="dropdown-item" href="#">en</a></li>
                    </ul>
                </div>
                </div>
            </div>
         </nav>
         <!--/////////////////////////// end nav bar ////////////////////////////////////-->

        <!--/////////////////////////// start about srction 1 ////////////////////////////-->
        <div class="container padding-container">
            <div class="row">
              <div class="col-md-12 col-lg-12 col-12 d-flex align-items-center">
                <div class="d-flex align-items-center">
                    <a href="homepage.html" class="text-uppercase add-color add-size">home</a>
                    <div class="d-flex add-space">
                      <span class="dott"></span><span class="dott"></span><span class="dott"></span>
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <a href="HIKVISION PRODUCTS.html" class="text-uppercase fw-bold m-0 add-size color-text-about">
                      HIKVISION PRODUCTS
                    </a>
                </div>
              </div>
            </div>
        </div>
        <!--/////////////////////////// end about srction 1 //////////////////////////////-->

        <!--/////////////////////////// start hikvision products ////////////////////////////-->
        <div class="bg-ptz">
             <div class="ptz-content">
                  <h2 class="text-capitalize fw-bold">
                     <span class="text-uppercase">PTz</span>
                     Cameras
                  </h2>
                  <p class="ptz-text">Any angle. Any detail. Any moment.</p>
                  <p class="ptz-text ptz-text2">Hikvision pan-tilt-zoom (PTZ) cameras help users get wide-area coverage and zoom in for further detail in case of security events with a single camera.<br> They enable users to view from any angle, for any detail, at any moment.</p>
             </div>
        </div>
        <!--/////////////////////////// end hikvision products //////////////////////////////-->

         <!--/////////////////////////// start unv product srction 2 //////////////////////////////-->
         <div class="container">
            <div class="border-search-unv">
                 <h5 class="text-capitalize color-h5">Search for available products</h5>
                       <!-- search -->
                <div class="">
                    <form class="d-flex justify-content-center m-auto">
                    <div class="d-flex w-100 position-relative">
                        <span class="search-icon">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        </span>
                        <input class="form-control search-input text-capitalize" type="search" placeholder="Search for available products" aria-label="Search">
                    </div>
                    <button class="btn btn-search" type="submit">Search</button>
                    </form>
                </div>
            </div>
         </div>
         <!--/////////////////////////// end unv product section 2 //////////////////////////////-->


          <!--/////////////////////////// start unv product section 3 //////////////////////////////-->
         <div class="container mb-pro-sec">
            <div class="d-flex align-items-center justify-content-between mb-3">
                <div class="result-num">
                     <span class="fw-bold">
                         403
                     </span>
                     result found
                </div>
                <div class="dropdown">
                    <button class="btn dropdown-toggle dropdown-toggle2 text-capitalize" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                       newst
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                      <li><button class="dropdown-item" type="button">Action</button></li>
                      <li><button class="dropdown-item" type="button">Another action</button></li>
                      <li><button class="dropdown-item" type="button">Something else here</button></li>
                    </ul>
                </div>
            </div>
            <div class="row row-cols-2 row-cols-md-3 row-cols-lg-5">
                <div class="col">
                   <div class="popular-products-box">
                       <div class="div-img">
                         <img src="assets/img/4MP HD IR VF Dome Network.png" alt="">
                       </div>
                       <div class="box-content-1">
                         <p class="popular-product-description">
                           4MP HD IR VF Dome Network Camera
                         </p>
                         <span class="price">
                           135.00 KWD
                         </span>
                       </div>
                       <div class="box-content-2">
                         <a class="details" href="productdetails.blade.php">details</a>
                         <button class="btn all-btn d-block m-auto add-cart">add to cart</button>
                       </div>
                   </div>
                </div>
                <div class="col">
                   <div class="popular-products-box">
                       <div class="div-img">
                         <img src="assets/img/4MP+4MP Lighthunter Dual-lens.png" alt="">
                       </div>
                       <div class="box-content-1">
                         <p class="popular-product-description">
                           4MP HD IR VF Dome Network Camera
                         </p>
                         <span class="price">
                           135.00 KWD
                         </span>
                       </div>
                       <div class="box-content-2">
                         <a class="details" href="productdetails.blade.php">details</a>
                         <button class="btn all-btn d-block m-auto add-cart">add to cart</button>
                       </div>
                   </div>
                </div>
                <div class="col">
                   <div class="popular-products-box">
                       <div class="div-img">
                         <img src="assets/img/5MP HD Intelligent 80m IR Fixed Bullet Network Camera.png" alt="">
                       </div>
                       <div class="box-content-1">
                         <p class="popular-product-description">
                           4MP HD IR VF Dome Network Camera
                         </p>
                         <span class="price">
                           135.00 KWD
                         </span>
                       </div>
                       <div class="box-content-2">
                         <a class="details" href="productdetails.blade.php">details</a>
                         <button class="btn all-btn d-block m-auto add-cart">add to cart</button>
                       </div>
                   </div>
                </div>
                <div class="col">
                   <div class="popular-products-box">
                       <div class="div-img">
                         <img src="assets/img/4MP+4MP Lighthunter Dual-lens.png" alt="">
                       </div>
                       <div class="box-content-1">
                         <p class="popular-product-description">
                           4MP HD IR VF Dome Network Camera
                         </p>
                         <span class="price">
                           135.00 KWD
                         </span>
                       </div>
                       <div class="box-content-2">
                         <a class="details" href="productdetails.blade.php">details</a>
                         <button class="btn all-btn d-block m-auto add-cart">add to cart</button>
                       </div>
                   </div>
                </div>
                <div class="col">
                    <div class="popular-products-box">
                        <div class="div-img">
                          <img src="assets/img/4MP HD IR VF Dome Network.png" alt="">
                        </div>
                        <div class="box-content-1">
                          <p class="popular-product-description">
                            4MP HD IR VF Dome Network Camera
                          </p>
                          <span class="price">
                            135.00 KWD
                          </span>
                        </div>
                        <div class="box-content-2">
                          <a class="details" href="productdetails.blade.php">details</a>
                          <button class="btn all-btn d-block m-auto add-cart">add to cart</button>
                        </div>
                    </div>
                 </div>
                 <div class="col">
                    <div class="popular-products-box">
                        <div class="div-img">
                          <img src="assets/img/4MP+4MP Lighthunter Dual-lens.png" alt="">
                        </div>
                        <div class="box-content-1">
                          <p class="popular-product-description">
                            4MP HD IR VF Dome Network Camera
                          </p>
                          <span class="price">
                            135.00 KWD
                          </span>
                        </div>
                        <div class="box-content-2">
                          <a class="details" href="productdetails.blade.php">details</a>
                          <button class="btn all-btn d-block m-auto add-cart">add to cart</button>
                        </div>
                    </div>
                 </div>
                 <div class="col">
                    <div class="popular-products-box">
                        <div class="div-img">
                          <img src="assets/img/5MP HD Intelligent 80m IR Fixed Bullet Network Camera.png" alt="">
                        </div>
                        <div class="box-content-1">
                          <p class="popular-product-description">
                            4MP HD IR VF Dome Network Camera
                          </p>
                          <span class="price">
                            135.00 KWD
                          </span>
                        </div>
                        <div class="box-content-2">
                          <a class="details" href="productdetails.blade.php">details</a>
                          <button class="btn all-btn d-block m-auto add-cart">add to cart</button>
                        </div>
                    </div>
                 </div>
                 <div class="col">
                    <div class="popular-products-box">
                        <div class="div-img">
                          <img src="assets/img/4MP+4MP Lighthunter Dual-lens.png" alt="">
                        </div>
                        <div class="box-content-1">
                          <p class="popular-product-description">
                            4MP HD IR VF Dome Network Camera
                          </p>
                          <span class="price">
                            135.00 KWD
                          </span>
                        </div>
                        <div class="box-content-2">
                          <a class="details" href="productdetails.blade.php">details</a>
                          <button class="btn all-btn d-block m-auto add-cart">add to cart</button>
                        </div>
                    </div>
                 </div>
            </div>
            <!-- navigation -->
            <div class="container">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                        </a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item"><a class="page-link" href="#">4</a></li>

                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
            </div>
         </div>
         <!--/////////////////////////// end unv product section 3 //////////////////////////////-->








          <!--/////////////////////////// start section 4 ///////////////////////////////-->
          <section class="container-fluid">
             <div class="row align-items-center">
                <div class="col-md-4 col-lg-4 col-12">
                   <div class="d-flex flex-column justify-content-center add-m-left">
                    <h4 class="popular-adress text-capitalize">
                      Why Choose Us
                    </h4>
                    <p class="choose-us-text">
                      It is a company that specializes in integrated security systems and light current and works in entertainment and satellite networks.
                    </p>
                   </div>
                </div>
                <div class="col-md-8 col-lg-8 col-12 p-0">
                    <div class="position-relative">
                        <div class="choose-us-box">
                          <div class="row">
                              <div class="col-md-4 col-lg-4 col-6">
                                <div class="choose-box text-center">
                                    <div class="choose-img">
                                        <img src="assets/img/Professional installation.png" alt="">
                                    </div>
                                    <h6 class="text-capitalize">Professional installation</h6>
                                    <p>By the most skilled technicians</p>
                                </div>
                              </div>
                              <div class="col-md-4 col-lg-4 col-6">
                                <div class="choose-box text-center">
                                    <div class="choose-img">
                                        <img src="assets/img/State of the art technology.png" alt="">
                                    </div>
                                    <h6 class="text-capitalize">State of the art technology (UNV)</h6>
                                    <p>By the most skilled technicians</p>
                                </div>
                              </div>
                              <div class="col-md-4 col-lg-4 col-6">
                                <div class="choose-box text-center">
                                    <div class="choose-img">
                                        <img src="assets/img/FREE inspection.png" alt="">
                                    </div>
                                    <h6 class="text-capitalize">FREE inspection (limited time offer)</h6>
                                    <p>By the most skilled technicians</p>
                                </div>
                              </div>
                              <div class="col-md-4 col-lg-4 col-6">
                                <div class="choose-box text-center">
                                    <div class="choose-img">
                                        <img src="assets/img/24-7 alarm monitoring.png" alt="">
                                    </div>
                                    <h6 class="text-capitalize">24/7 alarm monitoring</h6>
                                    <p>By the most skilled technicians</p>
                                </div>
                              </div>
                              <div class="col-md-4 col-lg-4 col-6">
                                <div class="choose-box text-center">
                                    <div class="choose-img">
                                        <img src="assets/img/100% safety.png" alt="">
                                    </div>
                                    <h6 class="text-capitalize">Two-Year Warranty</h6>
                                    <p>By the most skilled technicians</p>
                                </div>
                              </div>
                              <div class="col-md-4 col-lg-4 col-6">
                                <div class="choose-box text-center">
                                    <div class="choose-img">
                                        <img src="assets/img/Two-Year Warranty.png" alt="">
                                    </div>
                                    <h6 class="text-capitalize">Professional installation</h6>
                                    <p>By the most skilled technicians</p>
                                </div>
                              </div>
                          </div>
                        </div>
                        <div class="bg-choose-us">
                        </div>
                    </div>
                </div>
             </div>
          </section>
          <!--///////////////////////////// end section 4 ///////////////////////////////-->

          <!--/////////////////////////// start section 5  ///////////////////////////////-->
          <div class="container">
            <div class="bg-carousel">
              <div class="text-center">
                <h4 class="popular-adress text-uppercase mb-4 m-auto">
                  our agency
                </h4>
              </div>
              <div class="owl-carousel owl-theme">
                <div class="item">
                    <div class="image-item">
                        <img src="assets/img/لوجو-كارفور.jpg" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="image-item">
                        <img src="assets/img/جامعة الازهر.jpg" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="image-item">
                        <img src="assets/img/شركات البترول.PNG" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="image-item">
                        <img src="assets/img/istockphoto-1158342659-612x612.jpg" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="image-item">
                        <img src="assets/img/لوجو-كارفور.jpg" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="image-item">
                        <img src="assets/img/جامعة الازهر.jpg" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="image-item">
                        <img src="assets/img/شركات البترول.PNG" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="image-item">
                        <img src="assets/img/istockphoto-1158342659-612x612.jpg" alt="">
                    </div>
                </div>
                <div class="item">
                      <div class="image-item">
                          <img src="assets/img/logo.png" alt="">
                      </div>
                </div>
                <div class="item">
                    <div class="image-item">
                        <img src="assets/img/لوجو-كارفور.jpg" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="image-item">
                        <img src="assets/img/جامعة الازهر.jpg" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="image-item">
                        <img src="assets/img/شركات البترول.PNG" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="image-item">
                        <img src="assets/img/istockphoto-1158342659-612x612.jpg" alt="">
                    </div>
                </div>
              </div>
            </div>
          </div>


          <!--///////////////////////////// end section 5 ///////////////////////////////-->


          <!--///////////////////////////// start (footer) //////////////////////////////-->
          <footer>
             <div class="container">
              <div class="row">
                <div class="col-md-6 col-lg-6 col-12">
                   <div class="bottom-footer-content">
                      <h6 class="text-uppercase fw-bold">ABOUT <span class="blue">x</span>TRADE</h6>
                      <p class="choose-us-text">It is a company that specializes in integrated security systems and light current and works in entertainment and satellite networks.</p>
                      <div>
                         <h6 class="text-uppercase fw-bold">CONNECT WITH US</h6>
                             <a href="">
                                 <img src="assets/img/fb.png" alt="">
                             </a>
                             <a href="">
                               <img src="assets/img/whatsapp.png" alt="">
                             </a>
                             <a href="">
                               <img src="assets/img/instagram.png" alt="">
                             </a>
                             <a href="">
                               <img src="assets/img/twitter.png" alt="">
                             </a>
                      </div>
                   </div>
                </div>
                <div class="col-md-3">
                   <div class="bottom-footer-content">
                      <h6 class="text-uppercase fw-bold">QUICK LINK</h6>
                      <ul class="quik-links">
                        <li>
                           <a href="#" target="_blank">Home</a>
                        </li>
                        <li>
                           <a href="#" target="_blank">Services</a>
                        </li>
                        <li>
                           <a href="#" target="_blank">Our Agency</a>
                        </li>
                        <li>
                           <a href="#" target="_blank">Our Agency</a>
                        </li>
                      </ul>
                   </div>
                </div>
                <div class="col-md-3">
                   <div class="bottom-footer-content">
                      <h6 class="text-uppercase fw-bold">CONTACT US</h6>
                      <ul class="contact-us">
                        <li class="d-flex">
                           <span>
                              <img src="assets/img/phone.png" alt="">
                           </span>
                           +96595000362 +96560658666
                        </li>
                        <li class="d-flex">
                           <span>
                              <img src="assets/img/mail.png" alt="">
                           </span>
                           Info@xtradekuwait.com
                        </li>
                        <li class="d-flex">
                           <span>
                              <img src="assets/img/location.png" alt="">
                           </span>
                           Hessa Al-Hajeri Complex, Ibn Khaldoun St, Hawally, Kuwait
                        </li>
                      </ul>
                   </div>
                </div>
                <div class="col-12 col-lg-12 col-md-12">
                  <div class="copy-right">
                    &copy; 2023 XTRADE Dev. by 000
                  </div>
                </div>
             </div>
             </div>
          </footer>
          <!--///////////////////////////// end (footer)/////////////////////////////////-->



        <script src="assets/js/jquery-3.6.1.min.js"></script>
        <script src="assets/js/bootstrap.bundle.min.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <!-- <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script> -->
        <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
        <script src="assets/js/script.js"></script>

    </body>
</html>
