/*----------------------------------------*/
/*  08. Brand
/*----------------------------------------*/
.brand{
    &-inner-area{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    &-item{
        display: flex;
        justify-content: center;
    }
}