/*----------------------------------------*/
/*  19. Newsletter
/*----------------------------------------*/
.newsletter{
    &-bg{
        position: relative;
    }
    &-item{
        @include media-breakpoint-down(lg){
            text-align: center;
        }
    }
    &-content{
        .title{
            font-size: 32px;
            @include media-breakpoint-down(lg){
                margin-bottom: 20px;
            }
            strong{
                text-transform: uppercase;
            }
        }
    }
    &-form_wrap{
        display: flex;
        justify-content: flex-end;
        @include media-breakpoint-down(lg){
            justify-content: center;
        }
    }
    &-form{
        position: relative;
        width: 550px;
        @include media-breakpoint-down(lg){
            width: 100%;
        }
        input{
            &.input-field{
                background-color: $white;
                border: 0;
                width: 550px;
                height: 56px;
                padding-left: 20px;
                padding-right: 145px;
                border-radius: 0 15px 0 15px;
                @include media-breakpoint-down(lg){
                    width: 100%;
                }
            }
        }
        .form-btn_wrap{
            position: absolute;
            top: 0;
            right: 0;
            .btn{
                &-secondary{
                    height: 56px;
                    line-height: 55px;
                    padding-top: 0;
                    padding-bottom: 0;
                    border-radius: 0 15px 0 0;
                }
            }
        }
    }
}