/*----------------------------------------*/
/*  05. Offcanvas
/*----------------------------------------*/
.mobile-menu_wrapper {
	.offcanvas-body {
		background-color: $secondary;
		position: fixed;
		top: 0;
		right: -350px;
		width: 350px;
		z-index: 9999;
		visibility: hidden;
		opacity: 0;
		overflow: visible;
		@include transition(all 500ms ease);
		height: 100%;
		overflow-y: auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		@include media-breakpoint-down(sm){
			width: 100%;
		}
		.inner-body{
			padding: 50px 0;
			.offcanvas-top{
				display: flex;
				justify-content: flex-end;
				padding: 0 25px 30px;
				.button-close {
					font-size: 30px;
					color: #c0c0c0;
				}
			}
			.offcanvas-menu_area{
				.offcanvas-navigation {
					.mobile-menu {
						& > li {
							height: 100%;
							& > a {
								span {
									position: relative;
									display: flex;
									justify-content: space-between;
									align-items: center;
								}
							}
						}
						li {
							position: relative;
							&:not(:last-child){
								padding-bottom: 25px;
							}
							& > .menu-expand {
								position: absolute;
								right: 0;
								top: 2px;
								width: 50px;
								height: 100%;
								line-height: 40px;
								cursor: pointer;
								text-align: center;
								margin-right: 4px;
								transition: $baseTransition;
								font-size: 20px;
							}
							a {
								color: #c0c0c0;
								text-transform: uppercase;
								display: block;
                                padding: 0 30px;
                                i{
                                    font-size: 25px;
                                }
							}
							.sub-menu {
								background-color: rgba(255, 255, 255, .05);
								overflow-y: auto;
								padding: 25px 0;
								margin: 20px 0 10px;
								li {
									a {
										text-transform: uppercase;
										font-size: 14px;
										color: #c0c0c0;
										span{
											display: flex;
											justify-content: space-between;
											align-items: center;
										}
									}
									&.menu-open{
										> a{
                                            color: $primary;
											> span{
												> i {
													&:before {
														content: '\e682';
													}
												}
											}
										}
									}
								}
							}
							&.menu-open {
								> a{
									color: $primary;
									> span{
										> i {
											&:before {
												content: '\e682';
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
	&.open {
		.offcanvas-body {
			visibility: visible;
			right: 0;
			opacity: 1;
			z-index: 999;
		}
	}
}